.btn {
    top: 50%;
    background-color: rgb(88, 79, 28);
    color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    padding: 10px;
    min-height: 30px;
    min-width: 100px;
    position: absolute;
    align-items: center;
    left: 500px;
}

.btn:hover {
    background-color: #002ead;
    transition: 0.2s;
}

.btn:active {
    background-color: #061d5c;
}

.spinner {
    width: 10em;
    height: 10em;
    border-top: 1em solid #6da9f5;
    border-right: 1em solid transparent;
    border-radius: 50%;
    margin: auto;
    animation: spinner 0.6s linear infinite;
}

.head {
    width: 1em;
    height: 1em;
    background-color: #6da9f5;
    border-radius: 50%;
    margin-left: 8.5em;
    margin-top: 0.5em;
}

@keyframes spinner {
    100% {
        transform: rotate(360deg)
    }
}

@media screen and (max-width:550px) {
    .btn {
        top: 50%;
        background-color: rgb(88, 79, 28);
        color: #fff;
        border: none;
        border-radius: 10px;
        cursor: pointer;
        padding: 10px;
        min-height: 30px;
        min-width: 100px;
        position: absolute;
        align-items: center;
        left: 180px;
    }
}