:root {
    --main-radius: 5px;
    --main-padding: 5px;
}

.container {
    display: grid;
    height: 100vh;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 0.2fr 1.5fr 1.2fr 0.2fr;
    grid-template-areas:
        "nav nav nav"
        "sidebar main main"
        "sidebar content1 content2"
        "sidebar footer footer";
    gap: 0.2rem;
    font-family: sans-serif;
    font-weight: 800;
    font-size: 12px;
    color: #004d40;
    text-align: center;
}

nav {
    background: #acb7ae;
    grid-area: nav;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
}

main {
    grid-area: main;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
    align-items: center;
    position: relative;
}

main::after {
    content: "";
    background: url("../assets/network-images/network-world.webp");
    opacity: 0.5;
    background-repeat: no-repeat;
    background-size: cover;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
}

#sidebar {
    background: #9fa8a3;
    grid-area: sidebar;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
}

#content1 {
    background: #ffffff;
    grid-area: content1;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
    justify-content: center;
}

#content2 {
    background: #ffffff;
    grid-area: content2;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
    justify-content: center;
}

footer {
    background: #c2b490;
    grid-area: footer;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
}

@media screen and (max-width:550px) {
    .container {
        grid-template-columns: 1fr;
        grid-template-rows: 0.4fr 0.4fr 2.2fr 1.2fr 1.2fr 1fr;
        grid-template-areas:
            "nav"
            "sidebar"
            "main"
            "content1"
            "content2"
            "footer";
    }
}